$maxWidth: 1640;
@mixin adaptiv-value($value, $pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    #{$value}: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
  @media (min-width: 767px) {
    #{$value}: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}
.icon-email {
  color: #147a62;
}

.header {
  &__img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__top {
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 20px 0;
    color: black;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  &__top-logo {
    @media (max-width: 500px) {
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
  &__top-text {
    margin-right: auto;
    max-width: 145px;
    @include adaptiv-value("margin-left", 40, 10);
    font-size: 12px;
  }
  &__top-email {
    display: flex;
    align-items: center;
    color: black;
    @include adaptiv-value("margin-right", 80, 40);
    span {
      display: block;
      @include adaptiv-value("margin-right", 20, 5);
    }
  }
  &__top-phone {
  }
  &__menu-block {
    background: #1d7561;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    min-height: 60px;
    z-index: 10;
    width: 100%;
  }
  &__menu-block.fixed {
    position: fixed;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    top: 0;
  }
  &__menu-container {
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    min-height: 60px;
    justify-content: space-between;
  }
  &__menu {
    @media (max-width: 1200px) {
      transition: all ease 300ms 0s;
      padding: 20px;
      background-color: rgba(0, 83, 56, 0.925);
      border: 10px solid rgb(221, 221, 221);
      box-shadow: 1px 1px 20px rgb(153, 153, 153);
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      position: absolute;
      top: 60px;
      left: -200%;
      min-height: 100%;
      width: 65%;
      .header__item {
        display: block;
      }
      .header__list {
        display: block;
      }
      .header__link {
        font-size: 22px;
        &::before {
          right: 0;
        }
      }
    }
    &._active {
      left: 0;
    }
  }

  &__item {
    position: relative;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;
  }
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    display: inline-block;
    padding: 10px 0;
    &:hover.header__link::before {
      @media (any-hover: hover) {
        transform: rotate(180deg);
      }
    }
    &:hover .header__sub-list {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
      pointer-events: painted;
    }
    transition: all ease 300ms 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #25ffcc;
        transform: scale(1.1);
      }
    }
  }
  &__link::before {
    position: absolute;
    top: 12px;
    font-size: 12px;
    right: -30px;
    transition: all ease 300ms 0s;
  }
  &__link._active {
    .header__sub-list {
      @media (max-width: 1200px) {
        position: relative;
        z-index: 2;
        margin: 20px 0 0 0;
      }
      display: block;
    }
    &::before {
      transform: rotate(180deg);
    }
  }
  &__sub-list {
    padding: 10px 15px;
    min-width: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(131, 131, 131);
    position: absolute;
    top: 100%;
    left: 0;
    transition: all ease 300ms 0s;
    @media (any-hover: hover) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translate(0, 30px);
    }
    @media (any-hover: none) {
      display: none;
    }
  }

  &__sub-link {
    color: black;
    line-height: 160%;
    transition: all ease 300ms 0s;
    &:hover {
      color: #147a62;
    }
  }
  &__portal {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    transition: all ease 300ms 0s;
    &:hover {
      color: #25ffcc;
      transform: scale(1.1);
    }
  }
  &__arrow {
    display: flex;
    justify-content: center;
    animation-name: arrow;
    animation-timing-function: linear;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 24px;
  }

  &__btn {
    display: none;
    @media (max-width: 1200px) {
      display: block;
      span {
        display: block;
        width: 35px;
        height: 2px;
        background-color: #fff;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
        &:first-child {
          animation: span1 ease 0s towards;
        }
      }
      span {
        &:nth-child(1) {
          animation: span-back1 300ms ease 0s forwards;
        }
        &:nth-child(2) {
          animation: span-back2 300ms ease 0s forwards;
        }
        &:nth-child(3) {
          animation: span-back3 300ms ease 0s forwards;
        }
      }
    }
  }
  &__menu._active ~ &__btn {
    span {
      &:nth-child(1) {
        animation: span1 300ms ease 0s forwards;
      }
      &:nth-child(2) {
        animation: span2 300ms ease 0s forwards;
      }
      &:nth-child(3) {
        animation: span3 300ms ease 0s forwards;
      }
    }
  }
}
.icon-user {
  margin-right: 20px;
}
.header__main {
  position: relative;
  height: 670px;
  &-text {
    position: relative;
    z-index: 2;
    max-width: 693px;
    @include adaptiv-value("margin-bottom", 100, 50);
    @include adaptiv-value("padding-top", 163, 80);
    p {
      font-weight: bold;
      @include adaptiv-value("font-size", 42, 27);
      line-height: 51px;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: 0px 3.64133px 3.64133px rgba(255, 255, 255, 0.76);
      margin-bottom: 20px;
    }
    h6 {
      font-weight: 500;
      @include adaptiv-value("font-size", 24, 20);
      line-height: 29px;
      color: #ffffff;
    }
  }
  &-btn {
    position: relative;
    z-index: 2;
    background: #ffffff;
    box-shadow: 3.34177px 3.34177px 3.34177px #ffffff,
      3.34177px 3.34177px 12.5316px rgba(255, 255, 255, 0.25);
    font-weight: bold;
    font-size: 26.7675px;
    line-height: 31px;
    text-transform: capitalize;
    color: #147a62;
    text-shadow: 0px 2.75144px 2.75144px rgba(255, 255, 255, 0.76);
    padding: 13px 50px;
    border-radius: 10px;
  }
}

@keyframes arrow {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(0, 30px);
  }
}

@keyframes span1 {
  0% {
    transform: rotate(0) translate(0);
  }
  100% {
    transform: rotate(45deg) translate(0px, 14px);
  }
}
@keyframes span2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes span3 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-45deg) translate(0, -14px);
  }
}

@keyframes span-back1 {
  0% {
    transform: rotate(45deg) translate(0, 22px);
  }
  100% {
    transform: rotate(0) translate(0);
  }
}
@keyframes span-back2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes span-back3 {
  0% {
    transform: rotate(-45deg) translate(0, -21px);
  }
  100% {
    transform: rotate(0);
  }
}
